::ng-deep .coj-date-input-control {
    padding-bottom: 22px;
    position: relative;
    input {
        width: 100%;
        border: 0;
        background: #f0f0f0;
        height: 46px;
        border-radius: 15px;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        box-shadow: none;
    }
    .coj-date-input-errors {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 13px;
        color: red;
        white-space: nowrap;
    }
}